<ng-template [ngIf]="isReady">
  <span id="top"></span>
  <div class="container full-width full-height fixed top background"></div>
  <nav class="container full-width fixed bottom flex center middle z-index-100 navbar">
    <div class="size-3 overflow__hidden">
      <a
        class="icon size-3 chewron-circle-down scroll-down-bt absolute z-index-100"
        href="#bottom"
        ngx-scrollo
        [setLocationHash]="false"
        [scrolloDuration]="5000"
        [scrolloEasing]="'linear'"
        [scrolloBegin]="70"
        [scrolloEnd]="100"
      >
      </a>
      <a
        class="icon size-3 chewron-circle-up scroll-up-bt"
        href="#top"
        ngx-scrollo
        [setLocationHash]="false"
        [scrolloDuration]="5000"
        [scrolloEasing]="'linear'"
        [scrolloBegin]="70"
        [scrolloEnd]="100"
      >
      </a>
  </div>
  </nav>
  <main class="container absolute top full-width main">
    <section
      class="container full-width full-height fixed top flex row center middle section__one anim-text"
      ngx-scrollo
      [scrolloBegin]="1"
      [scrolloEnd]="100"
      [scrolloFrom]="{letterSpacing : '0vw', fontSize : '2.25rem', opacity: '1'}"
      [scrolloTo]="{letterSpacing : '6vw', fontSize : '0rem', opacity: '0'}"
      [scrolloEasing]="'easeOutQuad'"
      [scrolloOnBegin]="animOneOnBegin"
      [scrolloOnEnd]="animOneOnEnd"
      [scrolloOnReverseBegin]="animOneOnReverseBegin"
      [scrolloOnReverseEnd]="animOneOnReverseEnd"
      [scrolloOnProgress]="animOneOnProgress"
      >
      <div class="text center">
        <span>ngx-scrollo</span>
      </div>
    </section>
    <section class="container full-width full-height flex row center middle section__two">
      <div class="text center">
        <h2
          class="title"
          ngx-scrollo
          [scrolloBegin]="1"
          [scrolloEnd]="100"
          [scrolloFrom]="{letterSpacing : '-0.15rem', fontSize : '0rem', opacity: '1'}"
          [scrolloTo]="{letterSpacing : '0rem', fontSize : '1.75rem', opacity: '1'}"
          [scrolloEasing]="'easeOutBack'"
          [scrolloOnProgress]="anim2OnProgress"
        >
          Scroll animations
        </h2>
        <h2
          class="title"
          ngx-scrollo
          [scrolloBegin]="10"
          [scrolloEnd]="100"
          [scrolloFrom]="{letterSpacing : '-0.15rem', fontSize : '0rem', opacity: '0'}"
          [scrolloTo]="{letterSpacing : '0rem', fontSize : '1.75rem', opacity: '1'}"
          [scrolloEasing]="'easeOutBack'"
          [scrolloOnProgress]="anim2OnProgress"
        >
          made simple
        </h2>
        <h2
          class="title"
          ngx-scrollo
          [scrolloBegin]="20"
          [scrolloEnd]="100"
          [scrolloFrom]="{letterSpacing : '-0.15rem', fontSize : '0rem', opacity: '0'}"
          [scrolloTo]="{letterSpacing : '0rem', fontSize : '1.75rem', opacity: '1'}"
          [scrolloEasing]="'easeOutBack'"
        >
          and responsive
        </h2>
      </div>
    </section>
    <section class="container full-width section__code">
      <pre
        class="prettyprint lang-js"
        ngx-scrollo
        [scrolloBegin]="15"
        [scrolloEnd]="30"
      >
        {{ codeExamples.install}}
      </pre>
      <pre
        class="prettyprint lang-js"
        ngx-scrollo
        [scrolloBegin]="15"
        [scrolloEnd]="30"
      >
          {{ codeExamples.import }}
        </pre>
      <pre
        class="prettyprint lang-html"
        ngx-scrollo
        [scrolloBegin]="15"
        [scrolloEnd]="30"
      >
        {{ codeExamples.html01}}
      </pre>
      <div class="container full-width padding-8 text center link">
          <a href="https://github.com/ZbigiMan/ngx-scrollo" target="_blank">see more...</a>
      </div>
    </section>
    <span
      id="bottom"
      ngx-scrollo
      [scrolloBegin]="1"
      [scrolloEnd]="100"
    ></span>
  </main>
</ng-template>