.background {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: white;
  box-shadow: inset 0 0 5em rgba(black, 0.1);
}

.main {
  z-index: 1;
  position: absolute;

  .section {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 3rem;
    transition: all 1s ease;

    .hero {

      .title {
        white-space: nowrap;
      }
    }

    &__one {
      position: fixed;
      top: 0;
      width: 100%;
      height: 100vh;

      &.scrolloTweenOnEnd {
        visibility: hidden;
      }
    }

    &__two {
      padding-top: 130vh;

      .title {
        font-size: 0;
        letter-spacing: -0.1em;
      }
    }

    &__tree {
      padding-top: 30vh;
    }

    .box {
      border: whitesmoke;
      min-width: 20%;
      box-shadow: inset 0 0 3em rgba(#000000, 0.15);
      margin: 1rem;
      padding: 2rem;

    }
  }
}