@import url('https://fonts.googleapis.com/css?family=Raleway:200');

html, body, div {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    color: #000026;
}

h1, h2 {
 font-weight: 200;
}

h1 {
    font-size: 2.25em;
}

h2 {
    font-size: 1.75em;
}
